<h1>Contact us</h1>

<table class="example-full-width" cellspacing="0">
  <tr>
    <td class="photo-td">
      <img src="assets/harrys-photo.jpg" class="harrys-photo"/>
    </td>
    <td class="contact-td">
      <h2 style="margin: 0; font-weight: 400;">Harold Bloomer</h2>
      <div class="contact-div">
        <img src="assets/phone-solid.svg" class="icon"/>
        (269) 680-7706
      </div>
      <div>
        <img src="assets/envelope-solid.svg" class="icon"/>
        appraisalsh&#64;gmail.com
      </div>
    </td>
  </tr>
</table>

<h1 style="margin-top: 30px !important;">Get an Appraisal</h1>
<span class="appraisal-section">
<!-- First name, last name -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput required [(ngModel)]="firstName" maxlength="75">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName" maxlength="75">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Phone number, email -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <!-- <span matPrefix>+1 &nbsp;</span> -->
        <input type="tel" matInput required [(ngModel)]="phone" maxlength="15">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput required placeholder="Ex. pat@example.com" [(ngModel)]="email" maxlength="75">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Zip codes -->
<table class="example-full-width" cellspacing="0">
  <tr class="zip">
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Your zip code</mat-label>
        <input type="number" matInput required placeholder="Ex. 12345" [(ngModel)]="zip" maxlength="15">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicles zip code</mat-label>
        <input type="number" matInput placeholder="Ex. 12345" [(ngModel)]="vehicleZip" maxlength="15">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Vehicle year make model, VIN -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicle year, make, model</mat-label>
        <input type="text" matInput placeholder="Ex. 1981 Volkswagen Rabbit L" [(ngModel)]="vehicle" maxlength="80">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>VIN</mat-label>
        <input type="text" matInput [(ngModel)]="vin" maxlength="25">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Other details -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Any other details you'd like to share</mat-label>
        <textarea matInput [(ngModel)]="details" maxlength="300"></textarea>
      </mat-form-field>
    </td>
  </tr>
</table>
</span>

<re-captcha (resolved)="checkCaptcha($event)" name="recaptchaReactive" ngModel
  siteKey="6LeoVScpAAAAAKuCnDegwdtBKewzR-w2X2MJmR9g">
</re-captcha>

<button mat-raised-button (click)="submit()" class="submit-button"
  [disabled]="!captchaResolved || !requiredFieldsPopulated() || appraisalSent || sendingAppraisal"
  color="accent">Request Appraisal</button>
