<h1>
  Contact us
</h1>

<!-- First name, last name -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput required [(ngModel)]="firstName">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Phone number, email -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <!-- <span matPrefix>+1 &nbsp;</span> -->
        <input type="tel" matInput required placeholder="Ex. 555-555-1234" [(ngModel)]="phone">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput required placeholder="Ex. pat@example.com" [(ngModel)]="email">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Zip codes -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Your zip code</mat-label>
        <input type="number" matInput required placeholder="Ex. 12345" [(ngModel)]="zip">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicles zip code</mat-label>
        <input type="number" matInput placeholder="Ex. 12345" [(ngModel)]="vehicleZip">
      </mat-form-field>
    </td>
  </tr>
</table>

<!-- Vehicle year make model -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicle year, make, model</mat-label>
        <input type="text" matInput [(ngModel)]="vehicle">
      </mat-form-field>
    </td>
  </tr>
</table>

<!--  -->
<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Any other details you'd like to share</mat-label>
        <textarea matInput [(ngModel)]="details"></textarea>
      </mat-form-field>
    </td>
  </tr>
</table>

<button mat-raised-button (click)="submit()">Request Appraisal</button>
