img {
  height: auto;
  border-radius: 4px;
}

.dual img {
  max-width: 300px;
}

.single img {
  max-width: 633px;
  max-width: 550px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.vertical-line {
  margin: 100px 16px;
  border-left: 1px solid rgb(50, 50, 50, 0.3);
}

.example-card {
  margin-bottom: 24px;
}

@media(max-width: 900px) {
  .single img { max-width: 60vw !important;}
}

@media(max-width: 750px) {
  .dual img { max-width: 40vw !important;}
}

@media(max-width: 600px) {
  .vertical-line {
    margin: 50px 16px;
    border-left: 1px solid rgb(50, 50, 50, 0.3);
  }
  .single img { max-width: 70vw !important;}
}

@media(max-width: 500px) {
  .vertical-line {
    margin: 50px 12px;
  }
  .single img { max-width: 75vw !important;}
}

@media(max-width: 450px) {
  .vertical-line {
    margin: 50px 12px;
  }
  .single img { max-width: 80vw !important;}
}

@media(max-width: 400px) {
  .vertical-line {
    margin: 50px 8px;
  }
}
