<mat-toolbar color="primary">
  <mat-toolbar-row style="text-align: center !important; height: 100px;">
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="deviceService.isMobile">
      <svg viewBox="0 0 100 80" width="40" height="40">
        <rect width="100" height="16"></rect>
        <rect y="30" width="100" height="16"></rect>
        <rect y="60" width="100" height="16"></rect>
      </svg>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="home">
        <span>Home</span>
      </a>
      <a mat-menu-item routerLink="wins">
        <span>Success stories</span>
      </a>
      <a mat-menu-item routerLink="contact">
        <span>Contact us</span>
      </a>
    </mat-menu>
    <img src="assets/harrys-logo.png" class="logo" (click)="navigateHome()" [class.mobile-img]="deviceService.isMobile">
    <span *ngIf="!deviceService.isMobile" class="desktop-nav-buttons">
      <a mat-stroked-button routerLink="home" routerLinkActive="current" color="accent">Home</a>
      <a mat-stroked-button routerLink="wins" routerLinkActive="current" color="accent">Success stories</a>
      <a mat-stroked-button routerLink="contact" routerLinkActive="current" color="accent">Contact us</a>
    </span>
    <span class="flexExpand"></span>
    <ul style="margin-right: -16px;">
      <li>
        <a target="_blank" href="https://www.facebook.com/harrcars">
          <img class="social-icon" src="assets/facebook.svg">
        </a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center-content">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer-wrapper dark">
  <div class="footer max-width dark">
    © Copyright - Harry's Appraisals LLC
  </div>
</div>
