.logo {
  width: 96px;
  margin-right: 8px;
}

.mdc-button {
  margin: 0 8px;
}

.flexExpand {
  flex: 1 1 auto;
}

ul {
  margin: 8px 0 0 0;
  width: 85px;
}

li {
  display: inline;
  padding: 0 6px;
}

.social-icon {
  max-width: 30px;
}

.content {
  margin: 0 64px
}
