<mat-toolbar color="primary">
  <mat-toolbar-row style="text-align: center !important;">
    <img src="assets/harrys-logo.png" class="logo">
    <a mat-button routerLink="home" routerLinkActive="current">Home</a>
    <a mat-button routerLink="wins" routerLinkActive="current">Success stories</a>
    <a mat-button routerLink="contact" routerLinkActive="current">Contact</a>
    <span class="flexExpand"></span>
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com/harrcars">
          <img class="social-icon" src="assets/facebook.svg">
        </a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
