.banner {
  width: 100vw;
  margin: -24px 0 24px -64px;
  max-width: 1000px;
}

p {
  font: 400 16px/22px Roboto, sans-serif
}

.service-card {
  max-width: 600px;
  margin-bottom: 20px;
}

.service-card img {
  width: auto;
  border-radius: 4px;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-content {
  margin-top: 4px;
}

.contact-button {
  margin: 32px 0;
  min-width: 160px;
  min-height: 54px;
  font-size: 20px;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.submit-button {
  margin-top: 12px;
}

.harrys-photo {
  max-width: 200px;
  border-radius: 8px;
}

.icon {
  max-width: 16px;
  display: inline;
  vertical-align: middle;
  padding-right: 6px;
  color: #aaa;
}

.contact-div {
  margin: 4px 0;
}

.contact-td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding-right: 0;
}

.mobile-request-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.harrys-photo-td {
  width: 240px;
}

@media(max-width: 480px) {
  .mat-mdc-card-title-group {
    flex-direction: column;
  }

  .service-card img {
    height: auto;
    max-width: 100%;
  }
}

@media(max-width: 430px) {
  .harrys-photo {
    max-width: 180px;
  }

  .harrys-photo-td {
    width: 200px;
  }
}

@media(max-width: 415px) {
  .harrys-photo {
    max-width: 175px;
  }

  .harrys-photo-td {
    width: 185px;
    padding: 0;
  }
}

@media(max-width: 389px) {
  .harrys-photo {
    max-width: 165px;
  }

  .harrys-photo-td {
    width: 175px;
  }
}

@media(max-width: 380px) {
  .harrys-photo {
    max-width: 155px;
  }

  .harrys-photo-td {
    width: 165px;
  }
}

@media(max-width: 365px) {
  .harrys-photo {
    max-width: 140px;
  }

  .harrys-photo-td {
    width: 150px;
  }
}
